#lang info

(define collection "{{package-name}}")
(define deps '("base" "rackunit-lib"))
(define build-deps '("scribble-lib" "racket-doc"))
(define pkg-desc "{{description}}")
(define version "0.0")
(define pkg-authors '(your-name))
